
:root {
    --acqua: #69dc9e;
    --white: #fff;
    --black: #0C0C0C;
    --slpnk: #c9ada7;
    --purpl: #7d5ba6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}
.navbar {    
    background: var(--acqua);
}
.textoNegro{
    color: var(--black) ;
}
.textoNegro:hover{
    color: var(--purpl);
}
.vista {
    font-family: 'Press Start 2P', cursive;
    color: var(--black);
    font-size: 1.5rem;
}
header {
    background: #c7c7c7;
    height: 18rem;
    padding-top: 8rem;
}
.vistaBox {
    border-top: 1px solid var(--acqua);
    border-left: 1px solid var(--acqua);
    box-shadow: inset -0.5rem -0.5rem 0 0  var(--acqua);    
    padding: 0.5rem;    
    text-align: center;
    /*animacion*/
}
img {
    width: 5rem;
    height: 5rem;
}

