
:root {
    --acqua: #69dc9e;
    --white: #fff;
    --black: #0C0C0C;
    --pinks: #ffc7ff;
    --purpl: #7d5ba6;
    --slver: #c7c7c7;
    --blues: #00c7ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Geostar', cursive;
}
body{
    background-image: url('../img/ekoTDPP6.png');
    background-repeat: repeat;
}
.container {
    background: white;
}
.navbar {    
    background: var(--acqua);
}
.portada {
    background-image: url('../img/miFoto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;    
    height: 600px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;           
}
.textoNegro{
    color: var(--black) ;
}
.textoNegro:hover{
    color: var(--purpl);
}
.vista {
    font-family: 'Press Start 2P', cursive;
    color: var(--black);
    font-size: 1.5rem;
}

.vistaBox {
    border-top: 2px solid var(--acqua);
    border-left: 2px solid var(--acqua);
    box-shadow: inset -0.5rem -0.5rem 0 0  var(--acqua);    
    padding: 0.5rem;    
    text-align: center;
    align-items: center;    
    height: 8rem;
    background: var(--slver);
    
    /*animacion*/
}
.progress{
    background: var(--pinks);
}
.progress-bar{
    background: var(--slver);
    border: 3px solid var(--acqua);
    color: var(--black);
}
.html-log{
    width: 2rem;
    height: 2rem;
}
img {
    width: 5rem;
    height: 5rem;
}

.img-mod{
    width: 100%;;
}
.modal-content{
    background: blue;
    color: var(--slver);    
}
.mono{
    font-family: monospace;
}
.icon {
    background: var(--slver);
}
.icon a {
    font-size: 2rem;
    color: var(--black);
    background: var(--slver);
    border-top: 1px solid var(--purpl);
    border-left: 1px solid var(--purpl);
    box-shadow: inset -0.5rem -0.5rem 0 0  var(--purpl); 
    padding: 0.5rem;
    padding-right: 1rem;
}  
.icon a:hover{
    color: var(--purpl);
    border-top: 1px solid var(--acqua);
    border-left: 1px solid var(--acqua);
    box-shadow: inset -0.5rem -0.5rem 0 0  var(--acqua);
}
.jumbotron {
    display: none;
}
.jumbotron .container {
    background: var(--slver);
    color: var(--black);
}
.jumbotron .container h2{
    font-size: 1.5rem;
}
.jumbotron .container p{
    font-size: 1rem;
}


@media (min-width: 320px){
    .vista {
        font-size: 1.2rem;        
    }
    h3 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
@media (min-width: 576px){
    .html-log {
        height: 4rem;
        width: 4rem;
    }
}
@media (min-width: 768px){
    h3 {
        font-size: 1.2rem;
    }
}



